<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddEventController</servlet-name>
        <servlet-class>controller.AddEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEventController</servlet-name>
        <servlet-class>controller.DeleteEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEventController</servlet-name>
        <servlet-class>controller.SearchEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowEventController</servlet-name>
        <servlet-class>controller.ShowEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>controller.SearchUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEventController</servlet-name>
        <url-pattern>/AddEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEventController</servlet-name>
        <url-pattern>/DeleteEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEventController</servlet-name>
        <url-pattern>/SearchEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowEventController</servlet-name>
        <url-pattern>/ShowEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Eventmanagement.jsp</welcome-file>
    </welcome-file-list>
</web-app>
