body{
    background-color: #F2CED8;
}
.top {
    background-color: whitesmoke;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    height: 130px;
    bottom: 5px;
    border-radius: 12px;
    box-shadow: 10px 10px 8px #888888;
}

#Logo {
    left: 100px;
    position: absolute;
}
#searchbar {
    top: 20px;
    position: absolute;
    right: 400px;
    border: none;
}

.top input[type=text] {
    font-size: 20px;
    padding: 5px;
    width:500px;
    margin-top: 5px;
}

.top button { 
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: #F288AF;
    width: 80px;
}

.top button:hover {
    background: orange;
}
#category {
    float: right;
}

#category {   
    height: 35px ;  
    color: black;
    padding: 8px 10px 0;
    margin-right: 40px;
    margin-top: 8px;   
}
 #categorybtn {
    padding-bottom: 0;
    background-color: whitesmoke;
    box-shadow: none;
    border: 1px white;
 }

#category-content {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 15px;
    padding: 8px 12px;
   
}

#category-content a {
    font-size: 15px;
    float: inherit;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    width: 50px;
}

#category-content a:hover{
    background-color: #F288AF;
}

#category:hover #category-content {
    display: block; 
}



/*contain mid page */
h2 { 
    display: flex;
    flex-direction: column;   
    margin: 20px 0 20px 100px;
    font-family: 'Varela Round', sans-serif;
    font: italic;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    width: 1000px;
    position: relative;
    height: 561px ;
    left: 50px;
    border-top: 3px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px ;
    border-bottom: 3px solid black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.accordion button {
    background-color: whitesmoke;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 1000px;
    border: 2px solid black;
    border-radius: 12px;
    outline: none;
    font-size: 25px;
    transition: 0.5s;
    box-shadow: 2px 2px 2px;
    float: right;
}

.active, .accordion:hover {
  background-color: #ccc;
}
.contain {
  padding: 0 10px ;
  width: 980px;
  background-color: white;
  height: 40px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.contain p {
    font-size: 18px;
    float: right;
    margin-top: 10px;
}
 .contain nav {
    margin-top: 15px;
    font-size: 18px;
}


#sidebar {    
    position: absolute;
    box-sizing: border-box;
    border: 2px solid black;
    right: 60px;
    height: 500px;
    width: 18%;
    top: 230px;   
}



/*bot nav*/
.bottom {
    border-top: 2px solid #732424;
    top: 200px;
    position: relative;
    height: 40px;
    width: 100%;
}

#bot-nav {
    color:#732424 ;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 85px;
    font-size: 20px;
}


.bottom h3 {
    color: #732424 ;
    text-align: center;
    padding-bottom: 30px;
    font-style: italic ;
}

/* CSS của login */
#loginbox{
    display: none;  
    background-color: #F2ACC6;
    opacity: 0.95;
    background-size: 500px 600px;
    border-radius: 30px;
    width: 400px;
    height: 550px;
    position: absolute;
    left: 55%;
    top: -20%;
    padding: 10px;
    transition-duration: 2s;
}
#show:checked ~ #loginbox{
    display: block;
}
input[type="checkbox"] {
    display: none;
}
.close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
}
.close-btn:hover{
    color: white;

}
/* .changebox{
    width: 220px;
    margin: 10px auto 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px orangered;
    border-radius: 30px;
}
.changebutton{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
} */
.loginwelcome {
    width: 40%;
    margin: auto;
    left: 50%;
    color: whitesmoke;
    
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, orange, white);
    border-radius: 30px;
    transition: .3s;
}

.formunactive{
    display: none;
}

.fields{
    width: 400px;
    color: whitesmoke;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    background: transparent;
}
#loginbox input[type="submit"]{
    /* border: none;
    outline: none;
    margin-top: 40px;
    height: 40px;
    width: 90%;
    background: orange;
    font-size: 18px;
    border-radius: 20px; */
    font-weight: 500;
    font-size: 20px;
  flex: 1 1 auto;
  margin-top: 40px;
  width: 400px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
 text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px #eee;
  border-radius: 30px;
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  justify-content: center;
} 
/* #loginbox input[value="register"]{
    border: none;
    outline: none;
    margin-top: 40px;
    height: 40px;
    width: 100%;
    background: orange;
    font-size: 18px;
    border-radius: 20px;
}  */

#loginbox input[type="submit"]:hover{
    background-position: right center;
}
#loginbox p{
    
    color: black;
    font-size: 22px;
    padding-bottom: none;
    margin-top: none;
    font-weight: 900;
}
.btn-google {
    width: 200px;
    border-radius: 20px;
    left: 20%;
    bottom: 10%;
    text-decoration: none;
    position: absolute;
    text-transform: uppercase;
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd

    
}


/* dropbox */
#loginbox{
    top: -400px;
    animation: drop 0.5s ease forwards;
}
@keyframes drop{
    0%{}
    70%{transform: translateY(430px);}
    100%{transform: translateY(350px);}
}


/* end login box css */
