body{
    min-height: 500%;
    background-color: black;
    z-index: 1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

.container{
    width: 100%;
    background-color: yellow;

}
.header{
    background-color: rgb(214, 205, 205);
    width: 100%;
    height: 50px;
}
.contentwrapper{
    height: 500%;
    width: 100%;
    background-color: rgb(184, 181, 175);
    padding-bottom: 100px;

}

.eventname{
    padding: 20px 20px 10px;
    margin-left: 40px;
}

/* content chính */
.content{
    width: 55%;
    background-color: rgb(196,185,185);
    margin-left: 20%;
}
.backgroundimg{
    width: 85%;
    height: 100%;
    margin: auto;
}
/* .wrapperbackground{
    margin: auto;
    width: 98%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkg1gTLVFPwyf_JGfRZWDmzADOslkEc6z1Hw&usqp=CAU');
    

} */

.joinbutton.disable{
    background-image: linear-gradient(to right, #2b282a 0%, #0b0c0c 51%, #302e2f 100%);


    color: #545457;
}
.likebutton.disable{
  background: linear-gradient(to right, #181718, #bbbbb4);
    
}
.followbutton.disable{
  background: linear-gradient(to right, #181718, #bbbbb4);

}


.discriptionwrapper{
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(196, 185, 185);
    padding-bottom: 20px;
}
.eventname{
    color: #151111;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
.tags{
    margin-left: 60px;
    display: flex;
    align-items: center;
    gap: 0 10px;
}
.tags a{
    padding: 5px 15px;    
    border-radius: 20px;    
    display: inline-block;    
    color: inherit;
    text-decoration: none;
    border: 1px solid #151111;
    background: transparent;
    color: #151111;
    font-size: 0.7rem;
}
.tags span{
    /*margin-right: 10px;*/
}
.tags img{
    margin-top: 5px;   
    vertical-align: middle;
}
.gachchan{
    width: 90%;
    margin: 1rem auto;
    border-bottom: 0.5px solid rgb(177, 167, 167);
}

.discription{
    margin: 15px;
    margin-left: 30px;
}
.discription h3{
    margin-bottom: 20px;
}



/* Form nhỏ bên phải */
.sidebarright{
    width: 18%;
    background-color: rgb(225, 230, 222);
    min-height: 400px;
    position: fixed;
    right: 3%;
    top: 10%;
}
.sidebarright img{
    margin-top: 5px;
}
.sidebarright h4{
    margin: 10px;
    margin-left: 20px;
}
.sidebarright h3{
    position: relative;
    display:block;
    text-align: center;
    margin: 15px 0;
    border-top: 1px solid rgb(252, 248, 248);
}
/* .border{
    width: 40%;
    position: relative;
    display:block;
    text-align: center;
    margin: 15px 0;
} */
.contentfield{
    position: relative;
    color: rgb(253, 6, 47);
    font-weight: 800;
    text-align: inherit;
    text-align: center;
}
.sidebarheader{
    background-color: rgb(38, 166, 154);
}
.sidebarright-content{
    align-items: center;
}
.sidebarheader{
    display: flex;
    font-family: OpenSans;
    position: relative;
}

.sidebarheader span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* buttons */
.sidebarright-contact{
    width: 100%;
    height: 100%;
    align-items: center;
}
.joinbutton{
    width: 60%;
    margin-top: 300px;
    margin: 10px;
    left: 15%;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    background-size: 200% auto;

  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  position: relative;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}
.joinbutton:hover{
    background-position: right center;
}

.followliked{
    position: relative;
    left: 13%;
    display: inline-block;
    width: 90%;
}
.buttonwrapper{
    width: 35%;
    display: inline-block;
    margin: 8px;
    margin-top: 5%;
    position: relative;
    text-align: center;


}
.buttonwrapper span{
    font-weight: 600;
}
.likebutton{
    text-align: center;
  background: linear-gradient(to right, #ee9fd6, #bbbbb4);
    width: 80px;
  height: 40px; 
  line-height: 40px;
  border-radius: 10px;
  border: 2px solid rgb(27, 26, 26);
  margin-right: 10px;
  align-items: center;
  margin-top: 10px;
}
.likebutton:hover{
    cursor: pointer;
    box-shadow: -5px 9px 2px -2px #a5a5a5;
  transition: all 0.5s ease;
  transform: translatex(5px);

}
.followbutton{
    text-align: center;
  background: linear-gradient(to right, #bba0f3, #bbbbb4);
    width: 80px;
  height: 40px; 
  line-height: 40px;
  border-radius: 10px;
  border: 2px solid rgb(27, 26, 26);
  margin-right: 10px;
  align-items: center;
  margin-top: 10px;

}

.followbutton:hover{
    cursor: pointer;
    box-shadow: -5px 9px 2px -2px #a5a5a5;
  transition: all 0.5s ease;
  transform: translatex(5px);

}


/* comment */
.commentbox{
    width: 50%;
    background-color: rgb(128, 121, 121);
    display: inline-block;
    margin-left: 22.5%;
    height: 500px;
}
.commentheader{
    width: 100%;
    height: 50px;
    font-size: 24px;
    display: inline-block;
    color: white;
}
.commentheader h3{
    margin-left: 20px;
    margin-top: 10px;
}
.mybinhluanwrapper{
    width: 95%;
    margin: auto;
    border: 0.5px solid rgb(247, 239, 239);
    margin-top: 20px;
    border-radius: 3px;

}
.mycommentbox{
    width: 100%;
    background-color: rgb(241, 243, 235);
    
}
.binhluancontent{
    border-radius: 3px;

    width: 100%;
    height: 80%;
    border: 0.5px solid wheat;
}
.binhluancontent textarea{
    width: 100%;
    font-size: 24px;
    height: 200px;
}
.binhluanbuttonwrapper{
    height: 50px;
    background-color: rgb(236, 240, 233);
}
.dangbinhluan{
    position: relative;
    float: right;
    margin-right: 10px;
    height: 40px;
    width: 20%;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    background-color: rgb(185, 226, 102);
    color: whitesmoke;
    font-weight: 600;
    font-size: 18px;
    border: none;
    text-decoration: none;
}
.dangbinhluan:hover{
    background-color: rgb(214, 229, 182);
}
/* others comment */
.otherguestavatar{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
    margin: 10px;
}
.otherguestavatar img{
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    background-color: #fff;
}
.othercomment{
    background-color: whitesmoke;
    padding-bottom: 3px;

}
.eachothercomment{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.otherguestcontent{
    margin: 10px;
    position: relative;
    width: 85%;
    background-color: rgb(181, 201, 177);
    border-radius: 10px;
    padding: 10px;
}
.otherguestcontentname{
    margin-bottom: 10px;


}
.otherguestcontentname a{
    color: rgb(244, 248, 241);
    font-weight: 600;
    text-decoration: none;
}
.otherguestcontentcomment{
    margin-left: 5px;
}

/* sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #455E74;
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 1;
}

.sidebar.active {
    width: 240px ;
    background: rgb(38, 166, 154);
}

.sidebar .logo-content .logo {
    opacity: 0;
    pointer-events: none;
    display: flex;
    height: 50px ;
    width: 100% ;
    align-items: center;
    transition: all 0.5s ease;
}

.sidebar.active .logo-content .logo {
    opacity: 1; 
    pointer-events: none;
}

.logo-content .logo  i {
    font-size: 28px;
    margin-right:5px ;
}

.logo-content .logo .logo-name {
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}

.sidebar #but {
    position: absolute;
    transition: all 0.5s ease;  
    top: 6px;
    left: 55%;
    font-size: 40px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #but {
    left: 90%;    
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {  
    
    height: 50px;
    width: 100%;
    position: relative;
    margin: 0 5px;
    line-height: 50px;
    list-style: none;
    
}

.sidebar ul li .tooltip{
    position: absolute;
    height: 35px;
    left: 122px;
    width: 122px;
    top: 0;
    transform: translate(-50% , -50%);
    border-radius: 6px;
    line-height: 35px;
    background: #fff;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    z-index: 2;
}



.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip{
    top: 50%;
    transition: all 0.5s ease;
    opacity: 1;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #19f9fc;
    padding-left: 50px;
    font-size: 18px;
    color: black;
}

.sidebar ul li #but-search{
    position: absolute;
    z-index: 99;
    color: #19f9fc;
    font-size: 35px;
    transition: all 0.5s ease;
}

.sidebar ul li #but-search:hover {
    background: #19f9fc;
    color:#19f9fc ;
}

.sidebar ul li a {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    background: #fff ;
    color: #11101d ;
}

.sidebar ul li i {
    height: 40px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .link-name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .link-name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar .profile-content {
    position: absolute;
    color: black;
    bottom: 15px;
    left: 0;
    width: 100%;
}

.sidebar .profile-content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.5s ease;
}
.sidebar.active .profile-content .profile {
    background: #8afcfd;
}

.profile-content .profile .profile-detail{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile-detail {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile-detail img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile-detail .name-job{
    margin-left: 10px;
    max-width: 135px;
}

.profile .profile-detail .name {
    font-size: 20px;
    font-weight: 400;   
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile .profile-detail .job {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile #log-out {
    position: absolute;
    left: 50%;
    bottom: 0.3px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 25px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.5s ease;
}
.sidebar.active .profile #log-out {
    left: 88%;
}
.sidebar.active .profile #log-out {
    background: none;
}